$border: 4px solid;
$biggerMobile: "(min-width: 378px) and (max-width: 530px)";
$biggestMobile: "(min-width: 531px) and (max-width: 699px)";
$desktop: "(min-width:700px)";

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Oxygen", Arial, sans-serif;
}

html {
    font-size: 50px;
}




#header {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ef/c6/d9/efc6d99cf4ac33217e661068775de927.gif");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    @media #{$desktop} {
        height: 100vh;
        width: 100%;
    }
    .header-content {
        text-align: center;
        padding: 3vh;
        @media #{$biggerMobile} {
            padding: 1vh;
        }
        @media #{$desktop} {
            padding-top: 40vh;
        }
        h1 {
            color: white;
            font-size: 0.8rem;
            font-weight: lighter;
            padding: 15px;
            letter-spacing: 4px;
            @media #{$biggerMobile} {
                margin-top: 10vh;
                width: 100%;
                max-width: 350px;
            }
            @media #{$biggestMobile} {
                margin-top: 10vh;
            }
            @media #{$desktop} {
                color: white;
                border: 3px solid green;
                font-size: 1rem;
                font-weight: lighter;
                padding: 0.15rem;
                letter-spacing: 4px;
                width: 100%;
                max-width: 80vw;
                position: relative;
            }
            &:hover {
                cursor: pointer;
                border-color: #3CD6FF;
                transition: 1s;
                color: #3CD6FF
            }
            &:active {
                color: black;
                transition: 0.2s;
            }
        }
    }
}

#section {
    background-color: white;
    // background-attachment: fixed;
    width: 100%;
    height: 100vh;
    .section-content {
        text-align: center;
        padding-top: 1.4rem;
        h2 {
            line-height: 60px;
            @media #{$desktop} {
                color: black;
                padding-top: 9px;
                font-size: 0.8rem;
                border: $border;
                height: 1.7rem;
                max-width: 800px;
            }
        }
    }
    #app {
        font-size: 0.5rem;
        letter-spacing: 5px;
        line-height: 30px;
        overflow-x: hidden;
        width: 90vw;
        height: 9rem;
        @media #{biggerMobile} {

        }
        @media #{$desktop} {
            margin-top: 40px;
            line-height: 0.25rem;
            height: 11rem;
        }
        table {
            margin-bottom: 1rem;
            width: 100%;
            @media #{$desktop} {
                width: 100%;
                max-width: 800px;
                margin-top: 0.5rem;

            }
        }
        td {
            margin-top: 15px;
            padding-right: 30px;
            padding-left: 30px;
            font-size: 0.4rem;
            display: flex;
            justify-content: center;
            @media #{$desktop} {
                margin-top: 15px;
                padding-right: 20px;
                padding-left: 20px;
                font-size: 0.4rem;
                display: inline-flex;
                width: 7rem;
                height: 0.5rem;
            }
        }
    }
}
